################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BergPerformanceInterpreter/v15
/.vs
*.suo
*.user
_ReSharper.*
bin
obj
packages